In [1]:
"""
# 전처리 배분

1(성준) - 0~9,   40~49, 80~89, 120, 
       - credit_card_balance.csv
       - POS_CASH_balance.csv
       - previous_application.csv
       - installments_payments.csv
2(장호) - 10~19, 50~59, 90~99, 121
3(두영) - 20~29, 60~69, 100~109, 122, 
       - bureau.csv,
4(혜빈) - 30~39, 70~79, 110~119, 123, 
       - bureau_balance.csv
5(준혁) -  
"""

"""
# 데이터 목록
application_test.csv
application_train.csv
credit_card_balance.csv
POS_CASH_balance.csv
previous_application.csv
installments_payments.csv
bureau.csv
bureau_balance.csv
sample_submission.csv
"""

'\n# 데이터 목록\napplication_test.csv\napplication_train.csv\nPOS_CASH_balance.csv\nbureau.csv\nbureau_balance.csv\ncredit_card_balance.csv\ninstallments_payments.csv\nprevious_application.csv\nsample_submission.csv\n'

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler, RobustScaler, StandardScaler
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder
from sklearn.impute import SimpleImputer
import user_functions as uf

import platform
import matplotlib
%matplotlib inline
# 한글 출력되게 설정
uf.korean()

## installments_payments.csv
---

In [2]:
inst_paym = pd.read_csv(uf.get_f_path()+"installments_payments.csv")

In [3]:
inst_paym.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13605401 entries, 0 to 13605400
Data columns (total 8 columns):
 #   Column                  Dtype
---  ------                  -----
 0   SK_ID_PREV              int64
 1   SK_ID_CURR              int64
 2   NUM_INSTALMENT_VERSION  float64
 3   NUM_INSTALMENT_NUMBER   int64
 4   DAYS_INSTALMENT         float64
 5   DAYS_ENTRY_PAYMENT      float64
 6   AMT_INSTALMENT          float64
 7   AMT_PAYMENT             float64
dtypes: float64(5), int64(3)
memory usage: 830.4 MB

In [6]:
inst_paym.loc[inst_paym["SK_ID_PREV"] == 2360056]

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
11512648,2360056,453103,0.0,138,-2069.0,-2069.0,10800.0,10800.0
11524316,2360056,453103,0.0,157,-1977.0,-1977.0,2925.0,2925.0
11527596,2360056,453103,0.0,221,-1365.0,-1365.0,3375.0,3375.0
11532386,2360056,453103,0.0,168,-1924.0,-1924.0,5400.0,5400.0
11539274,2360056,453103,0.0,237,-1013.0,-1013.0,5625.0,5625.0
...,...,...,...,...,...,...,...,...
13524832,2360056,453103,0.0,222,-1333.0,-1337.0,5625.0,1125.0
13536048,2360056,453103,0.0,190,-1729.0,-1740.0,5625.0,225.0
13536932,2360056,453103,0.0,228,-1182.0,-1197.0,5625.0,5625.0
13557015,2360056,453103,0.0,167,-1928.0,-1928.0,2250.0,2250.0
13575017,2360056,453103,0.0,58,-2527.0,-2527.0,26550.0,26550.0

In [4]:
inst_paym.head(20)

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585
5,1137312,164489,1.0,12,-1384.0,-1417.0,5970.375,5970.375
6,2234264,184693,4.0,11,-349.0,-352.0,29432.295,29432.295
7,1818599,111420,2.0,4,-968.0,-994.0,17862.165,17862.165
8,2723183,112102,0.0,14,-197.0,-197.0,70.740,70.740
9,1413990,109741,1.0,4,-570.0,-609.0,14308.470,14308.470
10,1782554,106597,1.0,3,-933.0,-937.0,34620.525,34620.525
11,2558880,154793,1.0,8,-1262.0,-1269.0,15031.080,15031.080
12,1570206,147645,0.0,20,-761.0,-761.0,21.510,21.510
13,1723268,197273,1.0,14,-755.0,-800.0,6093.990,6093.990
14,1594684,100193,0.0,56,-1153.0,-1153.0,301.860,301.860
15,1456258,118323,1.0,6,-2619.0,-2619.0,4844.925,4844.925
16,1053286,170192,1.0,7,-500.0,-503.0,6882.840,6882.840
17,1410565,197687,1.0,1,-1037.0,-1048.0,12514.050,12510.450
18,2391610,183431,0.0,20,-1680.0,-1693.0,7875.000,7875.000
19,2329072,183463,1.0,11,-1699.0,-1693.0,7283.295,7283.295

In [141]:
# "AMT_PAYMENT" 실제 상환액
# 결측값은 상환하지 않았다고 판단하여 0으로 값을 대치함
# uf.check_feature(inst_paym, "AMT_PAYMENT")
inst_paym.loc[:, "AMT_PAYMENT"].fillna(0, inplace=True)

# "AMT_INSTALMENT" 할부금 총액
# "AMT_INSTALMENT" 할부금 총액 0인 행 제외
# uf.check_feature(inst_paym, "AMT_INSTALMENT")
drop_index = inst_paym.loc[inst_paym["AMT_INSTALMENT"] == 0].index
inst_paym.drop(drop_index, inplace=True)

In [152]:
# "AMT_PAYMENT" 실제 상환액 / "AMT_INSTALMENT" 할부금 총액
temp_payment = inst_paym[["SK_ID_CURR", "AMT_PAYMENT"]].groupby("SK_ID_CURR").mean()
temp_install = inst_paym[["SK_ID_CURR", "AMT_INSTALMENT"]].groupby("SK_ID_CURR").mean()
temp_merge = pd.merge(temp_payment, temp_install, left_on="SK_ID_CURR", right_on="SK_ID_CURR")
temp_merge["과거_상환액/총액"] = temp_merge["AMT_PAYMENT"] / temp_merge["AMT_INSTALMENT"]

# new_inst_paym Dataframe 만들기
new_inst_paym = temp_merge[["과거_상환액/총액"]]

# 저장
new_inst_paym.to_csv("../pre_data/new_installments_payments.csv")